body {
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.info {  
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  width: 500px;
  height: 300px;
  border-radius: 7px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);

}

#caja {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: Proza Libre;
  font-style: normal;
  font-weight: normal;
  width: 250px;
  height: 40px;
}

h1 {
  display: flex;
}

h6 {
  display: flex;
}

#miboton {
  position: relative;
  width: 120px;
  height: 27px;
  margin: 10px;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #FFFFFF;
  font-family: Proza Libre;
  font-style: normal;
  font-size: 1em;
  font-weight: normal;
  border-color: black;
}

.validacion {
  position: relative;
  font-family: Proza Libre;
  font-style: normal;
  font-weight: normal;
  color: #cff9ff;
}

.mas {
  position: relative;
  color: #FFFFFF;
  font-family: Proza Libre;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 66px;
}

.numero {
  position: relative;
  color: #FFFFFF;
  font-family: Proza Libre;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 66px;
}